#googlemap {
    height: 400px; 
    width: 735px ; 
    background-color: #dfdfdf;
}

.titre-activite {
	padding-bottom: 30px;
	
}
.texte {
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px;
}
p.date {
	margin: 20px;
}

.post-content p {
	margin-bottom: 20px;
}

#tatau {
	width: 600px;
	height: 200px;
	margin: 0 auto;
}

#homesection {
	margin-bottom: 50px;
}
#map-txt {
	margin-bottom: 50px;
	font-size: 1.5em;
}

.texthome {
	margin-bottom: 70px;
}
.texthome p {
	font-size: 1.5em;
}